
.header
  height 100%
  position relative
  overflow hidden
  background: #000000
  border-top 5px solid $color-primary
  // bg('img', 'bg-header.jpg')

  &-wrapper
    position relative
    display flex
    justify-content center
    align-items center
    z-index 10
    height 100vh
    // background url($path-img + 'dots.png') rgba($color-default, .8)

    // &:before,
    // &:after
    //   content ''
    //   position absolute
    //   width 100%
    //   height 400px

    // &:before
    //   background $color-primary-alt
    //   right 50%
    //   transform rotate(10deg)
    //   bottom -200px

    //   +below('phone')
    //     bottom @bottom - 100

    // &:after
    //   background $color-primary
    //   left 51%
    //   transform rotate(-10deg)
    //   bottom -195px

    //   +below('phone')
    //     bottom @bottom - 95

  &-content
    width 100%
    margin-top -100px
    text-align center
    padding 0 2em

    &:before
      content ''
      width 500px
      height 1000px
      border-left 1px solid $color-primary
      transform rotate(-45deg)
      position absolute
      top -500px
      right -300px

      +below('phone')
        display none

    &:after
      content ''
      width 100px
      height 400px
      border-right 1px solid $color-primary
      transform rotate(45deg)
      position absolute
      top -200px
      left 0

      +below('phone')
        display none

  &-info
    color #fff
    font-size 3rem
    margin 0
    padding 1em 0

    a
      color #fff
      text-decoration none

      &:hover
        color $color-primary

    span
      color $color-primary

    +below('phone')
      font-size 2.5rem

  &-support
    padding-top 2em

    &__link
      display inline-block
      margin 0 .5em
      color #fff
      font-size 1.4rem
      font-weight normal
      text-decoration none
      padding-bottom 3px
      border-bottom 1px solid transparent
      transition border .3s ease

      &:hover
        border-bottom 1px solid $color-primary

    &__divisor
      color #000
      font-weight bold

  &-video
    position absolute
    top 0
    left 0
    min-width 100%
    min-height 100%
    width auto
    height auto

    +below('phone')
      display none

  &-logo
    margin 0 auto
    padding 0
    width 300px
    height @width
    text-indent -9999em
    bg('svg', 'logo-vertical-branco-cores.svg')
    background-size 170px

    +below('phone')
      width 240px
      height @width
      background-size 140px

 .sympla
    background #e4e0df
    padding 2em 0
    height 100vh
    display grid
    align-items center

    +below('phone')
      height auto
      padding 4em 0

    &-title
      color $color-primary
      text-align center
      font-size 7rem
      margin 0

      +below('desktop-large')
        font-size 6.0em

      +below('phone')
        font-size 2.6em

    &>div
      margin 40px auto
      width: 600px

      +below('desktop-small')
        width 100%
        max-width 100%!important

      +below('phone')
        margin 40px auto 0

.features
  position relative
  padding 2em 15em
  background $color-primary
  overflow hidden
  display flex
  align-items center
  justify-content left
  height 100vh

  +below('desktop-large')
    padding 4em 2.0em

  +below('phone')
    height auto
    padding 4em 2em

  &:before
    content ''
    width 430px
    height 100%
    position absolute
    right 10px
    background-image url($path-img + 'group.png')
    background-repeat no-repeat
    background-position right

    +between('tablet', 'desktop-small')
      width 80%
      background-size 50%

    +below('phone')
      display none

  &-wrapper
    display flex
    z-index 20
    position relative

    +above('tablet')
      wrapper()

    +below('phone')
      display block

  &-column-title

    .button-ghost
      +below('phone')
        display none

  &-column-content
    background-color #000
    padding 2em 15em
    position relative
    align-items center
    justify-content left
    display flex

    +below('desktop-large')
       padding 4em 2.0em


  // &:before
  //  content ''
  //  width 300px
  //  height 100%
  //  position absolute
  //  top -30px
  //  position absolute
  //  right 30px
  //  background-image url($path-svg + 'astronaut.svg')
  //  background-repeat no-repeat
  //  background-position bottom

  &-title
    color $color-text
    font-weight bold
    font-size 7em
    margin 0

    +below('desktop-large')
      font-size 6.0em

    +below('phone')
      font-size 2.6em

  &-description
    color $color-text
    font-weight normal
    font-size 2.4em
    margin 1em 0
    line-height 1.6

    +below('desktop-small')
      font-size 1.6em
      margin 1em 0 0

  &-list
    list-reset()
    padding-top 1em
    counter-reset section
    display grid
    align-items center
    justify-content center
    height 100%

    +above('tablet')
      max-width 60%

    &:before
      content ''
      width 600px
      height 100%
      position absolute
      top -30px
      position absolute
      right 30px
      background-image url($path-svg + 'balloons.svg')
      background-repeat no-repeat
      background-position center
      animation: ballon-1-animation 6s infinite
      animation-timing-function: ease-in-out
      @keyframes ballon-1-animation
        0%
          transform: translate(0, -34px)

        50%
          transform: translate(0, -7px)

        100%
          transform: translate(0, -34px)


      +between('tablet', 'desktop-small')
        width 190px

      +below('phone')
        display none

    &-item
      position relative
      margin-bottom 2em
      &:last-child
        margin-bottom: 0

      +below('phone')
        padding-left 0
        margin-bottom 2em

      &__title
        font-size 5.5em
        font-weight 600
        margin 0
        color $color-primary

        +below('desktop-small')
          font-size 3.5em

        +below('phone')
          font-size 2.8em
          letter-spacing -.03em

      &__description
        font-weight normal
        font-size 2.4em
        line-height 1.6
        color $color-text

        +below('desktop-small')
          font-size 1.6em
          margin 1em 0 0

.past-events
  &-container
    height 100%
    background #000
    overflow hidden

    +below('phone')
      height auto

    >:first-child
      grid-template-areas "imagem video1 imagem2 imagem2 imagem3 video3"\
      "video2 imagem1 imagem2 imagem2 imagem4 imagem5"
      +below('desktop-small')
        grid-template-areas "imagem imagem1"\
        imagem2 imagem4"\
        imagem3 video3"

    >:last-child
      grid-template-areas "imagem imagem video1 imagem1 video3 imagem4"\
      "imagem imagem imagem2 video2 imagem3 video4"
      +below('desktop-small')
        grid-template-areas "imagem imagem1"\
        imagem2 imagem4"\
        imagem3 video3"

  &-column-content
    display grid
    margin 0 auto
    grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr
    grid-template-rows 1fr 1fr
    overflow hidden

    +below('desktop-small')
      grid-template-columns: 1fr 1fr 1fr 1fr

  &__video1
    grid-area video1

  &__video2
    grid-area video2

  &__imagem, &__imagem1, &__imagem2, &__imagem3, &__imagem4, &__imagem5
    height 100%
    transition: all ease .2s

    &:hover
      transform scale(1.05)
      transition: all ease .2s

    img
      width 100%
      height 100%

  &__imagem
    grid-area imagem

  &__imagem1
    grid-area imagem1

  &__imagem2
    grid-area imagem2

  &__imagem3
    grid-area imagem3

  &__imagem4
    grid-area imagem4

  &__imagem5
    grid-area imagem5

  &__video3
    background-color purple
    grid-area video3

  &__video4
    grid-area video4


  &__title
    color $color-text
    font-weight bold
    font-size 7em
    margin 0
    max-width 540px
    padding 0 0 40px

  &__youtube
    display block
    color white
    text-decoration unset
    font-size 20px
    font-weight bold
    padding 40px 0
    text-align center

  // &:before
  //  content ''
  //  width 300px
  //  height 100%
  //  position absolute
  //  top -30px
  //  position absolute
  //  right 0
  //  background-image url($path-svg + 'heart.svg')
  //  background-repeat no-repeat
  //  background-position bottom


.speakers
  position relative
  padding 14em 0
  background-color #ececec

  &-wrapper
    wrapper()

  &-title
    text-align center

    span
      position relative
      display inline-block
      font-size 5em
      color $color-text
      margin 0
      font-weight bold
      z-index 2

      &:before
        content ''
        width 100%
        height 10px
        border-bottom 10px solid $color-primary
        transform rotate(-.7deg)
        position absolute
        bottom 0
        left 0
        z-index -1

    &__presenter
      margin-top 10em

      span
        &:before
          border-color #f5f5f5 + 30%

  &-list
    list-reset()
    margin-top 10em
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center

    &__presenter
      justify-content center
      margin-top 9em

    &-item
      position relative
      margin-bottom 4em
      background-color #fff
      width 100%
      padding 1.6em
      display flex
      overflow hidden

      +below('phone')
        display block
        width 98%

      &__status-off
        opacity .3

      &:before
        content ''
        width 100px
        height 100px
        background-color #ececec
        transform rotate(45deg)
        position absolute
        bottom -70px
        right -70px
        border-left 1px solid #ddd

      &__presenter
        background $color-primary-alt
        max-width 60%

        .speakers-list-item-content
          display flex
          flex-wrap wrap
          align-items center

        .speakers-list-item__title
          font-size 4em

          +below('phone')
            font-size 3em

        .speakers-list-item__company
          color #fff
          margin-top 0
          font-size 2em

        &:before
          border-color $color-primary-alt - 20%

      &-photo
        flex-basis 20%
        align-self center

        +below('phone')
          width 80%
          margin 0 auto 1.6em

      &-photo__presenter
        flex-basis 35%
        align-self center

      &-content
        flex 1
        padding-left 2em

        +below('phone')
          padding 0

      &__avatar
        max-width 100%

      &__title
        font-size 2.8em
        font-weight bold
        color $color-primary
        margin 0
        letter-spacing -.03em

        +below('phone')
          text-align center

        &.speakers-list__presenter-title
          color #fff

      &__company
        display block
        margin-top .3em
        font-size 1.6em
        color #aaa
        font-weight normal

      &__social
        margin 1.3em 0

        &-link
          display inline-block
          width 25px
          height @width
          background-position center center
          background-repeat no-repeat
          background-size 100% auto
          text-indent -9999em
          margin-right 10px
          transition opacity .3s ease

          &:hover
            opacity .7

          &.github
            background-image url($path-svg + 'icon-github.svg')

          &.twitter
            background-image url($path-svg + 'icon-twitter.svg')

        +below('phone')
          text-align center

      &__talk
        color $color-primary
        font-weight 600
        font-size 2.2em
        margin 0
        line-height 1.1

      &__talk-description
        color $color-default
        font-size 1.6em
        margin .8em 0
        line-height 1.6

.location
  &-wrapper
    display flex

    +below('tablet')
      display block

  &-column
    &.content
      flex-basis 45%
      background $yellow
      display flex
      justify-content flex-end

    &.photo
      position relative
      flex 1
      bg('img', 'hotel.jpg')
      background-size cover
      overflow hidden

      +below('tablet')
        display none

      &:before
        content ''
        width 200px
        height 1000px
        background $yellow
        transform rotate(7deg)
        position absolute
        top -100px
        left -100px

        +below('desktop-small')
          height 1300px

        +below('tablet')
          display none

  &-content
    padding-top 7em
    padding-bottom 7em
    width 80%

    +below('tablet')
      width 100%
      padding-right 2em
      padding-left @padding-right
      text-align center

    &-discount
      margin-top 5em
      padding-top 2em
      border-top 1px solid rgba(#fff, .3)

      .button
        font-size 1.3em
        background #fff
        margin-left 1em
        color $color-text
        font-weight 600
        transition box-shadow .6s ease

        &:hover
          box-shadow 0 0 50px 10px rgba($color-primary-alt - 20%, .6)

      &__text
        margin .3em 0 1em
        font-size 1.4em
        line-height 1.6
        color #fff

        strong
          font-weight 600

          &.up
            font-size 1.2em

      &__code
        display inline-block
        margin 1em 0
        font-size 1.5em
        padding .5em 1em
        color #fff
        border 1px dashed #fff
        font-weight 600

    &-address
      position relative
      padding-left 10em

      +below('tablet')
        padding-left 0

      &:before
        content ''
        width 70px
        height 100px
        position absolute
        top -7px
        left 0
        bg('svg', 'icon-location.svg')
        background-size 100% auto
        background-position 0 0

        +below('tablet')
            display none

      .button
        font-size 1.6em
        background #000000
        margin-top 1em
        color $color-text
        font-weight 600
        transition box-shadow .6s ease

        &:hover
          box-shadow 0 0 50px 10px rgba($color-primary-alt - 20%, .6)

  &-title
    color #fff
    font-size 4.5em
    font-weight bold
    margin 0
    letter-spacing -.05em

    +below('phone')
      font-size 4em

  &-description
    font-size 2em
    font-weight 600
    color #fff
    margin .6em 0
    line-height 1.5

    +below('phone')
      font-size 1.6em

.schedule
  padding 10em 0 12em
  background #fff
  col-padding = 4em

  &-note
    text-align center
    color #ccc
    padding 0 2em
    font-size 1.3em
    line-height 1.8

  &-list
    list-reset()
    max-width 800px
    margin 0 auto
    padding 8em 0 4em

    +below('phone')
      padding-right 3em

    &-item
      display flex
      padding 3em 0 2em

      &-time
        position relative
        flex-basis 30%
        padding-right col-padding
        display flex
        align-items center
        justify-content flex-end

        +below('phone')
          padding-right 3em

        &:after
          content ''
          position absolute
          top 5px
          right 0
          width 0
          height 30px
          transform rotate(10deg)
          border-right 1px solid $color-primary-alt

          +below('phone')
            height 20px
            top 3px

      &-content
        flex 1
        padding-left col-padding

        +below('phone')
          padding-left 3em

      &__time
        font-size 3em
        font-weight bold
        color #ddd
        letter-spacing -.06em

        +below('phone')
          font-size 2.2em

      &__title
        font-size 3.5em
        margin 0
        padding 0
        background-image linear-gradient(-45deg, $color-text, $color-text + 30%)
        text-gradient()
        letter-spacing -.03em

        +below('phone')
          font-size 2.2em

      &__talk
        margin .3em 0 0 0
        padding 0
        font-size 1.6em
        font-weight normal
        color $color-text
        line-height 1.4

        +below('phone')
          font-size 1.4em

      &--talk
        padding 2em 0

        .schedule-list-item-time
          &:after
            display none

        .schedule-list-item__time
          display none

        .schedule-list-item__title
          background-image linear-gradient(-45deg, $color-primary - 10%, $color-primary-alt)

.tickets
  padding 10em 0
  background-size cover
  min-height 600px

  &-wrapper
    wrapper()
    text-align center

  &-title
    position relative
    text-align center
    padding-top 2.5em
    color $color-primary-alt
    font-size 5em
    margin 0

    &:before
      content ''
      width 70px
      height 105px
      position absolute
      top 0
      left 50%
      margin-left -(@width / 2)
      bg('svg', 'icon-ticket.svg')
      background-size 100% auto
      background-position 0 0

  &-description
    margin .5em 0
    font-size 4em
    color #fff
    font-weight 600
    text-align center

  &-note
    margin 0
    font-size 1.4em
    color #aaa
    font-weight normal
    text-align center
    line-height 1.5

    a
      color #eee
      border-bottom 1px solid #555
      text-decoration none
      padding-bottom 2px
      transition border .4s ease

      &:hover
        border-color $color-primary

  .button
    margin-top 3em
    font-size 2em
    font-weight 600

.support
  position relative
  background #fff
  padding 10em 0

  &-wrapper
    wrapper()

  &-title
    text-align center

    span
      position relative
      display inline-block
      font-size 4em
      color $color-text
      margin 0
      font-weight bold
      z-index 2

      +below('phone')
        font-size 3.6em

      &:before
        content ''
        width 100%
        height 10px
        border-bottom 10px solid #eee
        transform rotate(-.7deg)
        position absolute
        bottom 0
        left 0
        z-index -1

  &-list
    list-reset()
    padding 5em 0
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    z-index 10
    position relative

    &.apoio
      .support-item
        margin 2em 1.4em

      .support-link
        img
          max-width 200px
          width 200px

  &-item
    margin 3.5em 1em

  &-link
    text-decoration none
    border 0

    img
      max-width 300px

.footer
  padding 4em 0
  background-color #fff

  &-wrapper
    wrapper()
    display grid
    justify-content center
    align-items center
    grid-template-columns repeat(3, 1fr)
    margin 0 auto
    +below('tablet')
      max-width 100%
      padding 0 2.0em

    +below('phone')
      display block

  &-column
    wrapper()
    +below('phone')
      max-width 100%
      padding: 10px 0

    &.coc
      +below('phone')
        text-align center

    &.email
      text-align center

    &.social
      text-align right

      +below('phone')
        text-align center

  &-email
    color #000
    font-size 1.4em
    font-weight 600

  &-link
    color #000
    font-size 1.4em
    text-decoration none
    border-bottom 1px solid #ddd
    padding-bottom 2px
    transition border .4s ease

    &:hover
      border-color $color-primary-alt

  &-social
    list-reset()

    &-item
      display inline-block
      vertical-align top
      margin 0 3px

      +below('phone')
        margin 0 .7em

    &-link
      display block
      text-indent -9999em
      width 25px
      height @width
      background-position 0 0
      background-repeat no-repeat
      background-size 100% auto
      font-size 0
      text-decoration none
      border 0
      transition opacity .4s ease

      &:hover
        opacity .7

      &.twitter
        background-image url($path-svg + 'icon-twitter-circle.svg')

      &.facebook
        background-image url($path-svg + 'icon-facebook-circle.svg')

      &.github
        background-image url($path-svg + 'icon-github-circle.svg')

      img
        max-width 50px

